export(mixADAserver, mixADAsimple, 
       adapcheckdatainputsimple,
       adapcheckdatainput, adaplmboxcox, adaplmmboxcox, adaplmmintervals, adapmixmod, adapmixmodsampleID, adapperccutpoints, adaCCP,
       propplotreg, normalize, ranefqqhist, qqhist_y, tabk2)

import("stringi","flexmix", "shiny", "ggplot2")

importFrom(package = "mvtnorm", dmvnorm)

importFrom(package = "methods", setClass, setMethod)
importFrom(package="lme4", lmer, fixef, VarCorr, ranef)
importClassesFrom(package = "lme4", merMod)
